Xft*dpi:                    96
Xft*antialias:              true
Xft*rgba:                   rgb
Xft*hinting:                true
Xft*hintstyle:              hintmedium
Xft*lcdfilter:              lcddefault

!URxvt*termName:             rxvt-unicode-256color
URxvt*iconFile: /usr/share/icons/Tango/scalable/apps/terminal.svg
!URxvt*font:     xft:DejaVuSansMono:size=11
URxvt*font:      xft:Inconsolata:size=11
URxvt*perl-ext-common: default

URxvt*buffered:             true
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*borderLess:           false
URxvt*secondaryWheel:       true
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:	true
URxvt*saveLines:            5000
URxvt*urgentOnBell:         true

URxvt*depth:                32
URxvt*geometry:             86x26
URxvt*internalBorder:       3
URxvt*lineSpace:            0

! Tabs
URxvt*tabbed.tabbar-fg:     8
URxvt*tabbed.tabbar-bg:     0
URxvt*tabbed.tab-fg:        3
URxvt*tabbed.tab-bg:        0

! Cursor
URxvt*cursorBlink:          true
URxvt*cursorUnderline:      false
URxvt*pointerBlank:         true
URxvt*pointerBlankDelay:    2

! Colors
URxvt*cursorColor:          #66ff66
URxvt*pointerColor:         gray
URxvt*fading:               25
URxvt*fadeColor:            #000000
*.background:               [90]#050505
*.foreground:               #0AFF0A

!black
*color0:        #1c1c1c
*color8:        #4d4d4d
!red
*color1:        #D81860
*color9:        #F00060
!green
*color2:        #60FF60
*color10:       #70FF70
!yellow
*color3:        #f9fd75
*color11:       #f9fd75
!blue
*color4:        #4695c8
*color12:       #4e98c8
!magenta
*color5:        #a78edb
*color13:       #ae99db
!cyan
*color6:        #43afce
*color14:       #50b2ce
!white
*color7:        #f3ebe2
*color15:       #EEEEEC

