Xft*dpi:                    96
Xft*antialias:              true
Xft*rgba:                   rgb
Xft*hinting:                true
Xft*hintstyle:              hintmedium
Xft*lcdfilter:              lcddefault

URxvt*iconFile: /usr/share/icons/Tango/scalable/apps/terminal.svg
URxvt*font:     xft:DejaVuSansMono:size=11
URxvt*perl-ext-common: default,matcher,tabbedex,clipboard

URxvt*matcher.button:       1
URxvt*urlLauncher:          firefox-nightly
URxvt*matcher.pattern.1:   \\b(mailto|http|https|ftp|file):[/]*[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2:   \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*colorURL:             yellow

URxvt*buffered:             true
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*borderLess:           false
URxvt*secondaryWheel:       true
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:	true
URxvt*saveLines:            5000
URxvt*urgentOnBell:         true

URxvt*depth:                32
URxvt*geometry:             86x26
URxvt*internalBorder:       3
URxvt*lineSpace:            0

! Tabs
URxvt*tabbed.tabbar-fg:     8
URxvt*tabbed.tabbar-bg:     0
URxvt*tabbed.tab-fg:        3
URxvt*tabbed.tab-bg:        0

! Cursor
URxvt*cursorBlink:          true
URxvt*cursorUnderline:      false
URxvt*pointerBlank:         true
URxvt*pointerBlankDelay:    2

! Colors
URxvt*cursorColor:          #95C749
URxvt*pointerColor:         gray
URxvt*fading:               25
URxvt*fadeColor:            #000000
*.background:               [90]#050505
*.foreground:               #0AFF0A
    
!black
*color0: #3b3d3e
*color8: #505354
!red
*color1: #875f5f
*color9: #f55d60
!green
*color2: #82b414
*color10: #b6e354
!yellow
*color3: #fd971f
*color11: #ffe93e
!blue
*color4: #56c2d6
*color12: #8cedff
!magenta
*color5: #8c54fe
*color13: #9e6ffe
!cyan
*color6: #6664a7
*color14: #888cb1
!white
*color7: #ccccc6
*color15: #f8f8f2

