<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<!-- <menu id="desktop-app-menu"
      label="Applications"
      execute="openbox-menu xfce-applications.menu" />
-->
<menu id="root-menu" label="Openbox 3">
    <separator label="Openbox"/>
        <item label="Configuration">
            <action name="Execute">
                <command>obconf</command>
            </action>
        </item>
        <item label="Reload Conf">
            <action name="Reconfigure"/>
        </item>
    <separator label="Session"/>
        <item label="Log Out">
            <action name="Execute">
                <command>openbox --exit</command>
            </action>
        </item>
        <item label="Shutdown">
            <action name="Execute">
                <command>sudo dbus-send --system --print-reply --dest="org.freedesktop.ConsoleKit" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Shutdown</command>
            </action>
        </item>
        <item label="Restart">
            <action name="Execute">
                <command>sudo dbus-send --system --print-reply --dest="org.freedesktop.ConsoleKit" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Restart</command>
            </action>
        </item>
        <item label="Suspend">
            <action name="Execute">
                <command>sudo pm-suspend</command>
            </action>
        </item>
        <item label="Hibernate">
            <action name="Execute">
                <command>sudo pm-hibernate</command>
            </action>
        </item>
    <separator label="Menu"/>
    <!-- <menu id="desktop-app-menu"/> -->
        <item label="Terminal">
            <action name="Execute">
                <command>urxvtcd</command>
            </action>
        </item>
        <item label="FileBrowser">
            <action name="Execute">
                <command>spacefm</command>
            </action>
        </item>
        <item label="Editor">
            <action name="Execute">
                <command>geany</command>
            </action>
        </item>
        <item label="XChat">
            <action name="Execute">
                <command>hexchat</command>
            </action>
        </item>
        <item label="WebBrowser">
            <action name="Execute">
                <command>google-chrome</command>
            </action>
        </item>
</menu>

</openbox_menu>
